<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <section class="main">
    <div class="nav">
      <a href="/" class="nav-link"><button class="main">回到首頁</button></a>
      <div class="nav-tools">
        <a href="/about" class="nav-link"><button class="about">About</button></a>
        <a href="/portfolio" class="nav-link"><button class="portfolio">Portfolio</button></a>
        <a href="/contact" class="nav-link"><button class="contact">Contact</button></a>
      </div>
    </div>
    <div class="container">
      {{{body}}}
    </div>
  </section>
  <script src='./app.js'></script>
</body>

</html>