<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <section class="main">
    <div class="nav">
      <button class="main"><a href="/" class="nav-link">回到首頁</a></button>
      <div class="nav-tools">
        <button class="about"><a href="/about" class="nav-link">About</a></button>
        <button class="portfolio"><a href="/portfolio" class="nav-link">Portfolio</a></button>
        <button class="contact"><a href="/contact" class="nav-link">Contact</a></button>
      </div>
    </div>
    <div class="container">
      {{{body}}}
    </div>
  </section>
  <script src='./app.js'></script>
</body>

</html>